---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: hcloud-ip-floater
  labels:
    app.kubernetes.io/name: hcloud-ip-floater
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: hcloud-ip-floater
  labels:
    app.kubernetes.io/name: hcloud-ip-floater
rules:
- apiGroups: [""]
  resources: ["services"]
  verbs: ["get","watch","list"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get","watch","list"]
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: hcloud-ip-floater
  labels:
    app.kubernetes.io/name: hcloud-ip-floater
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: hcloud-ip-floater
subjects:
- kind: ServiceAccount
  name: hcloud-ip-floater
  namespace: default
